/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
}
/* Basic Theme */

.owl-nav, .owl-dots {
  margin: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent
}
.owl-nav [class*=owl-] {
  color: #fff;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #d6d6d6;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px
}
.owl-nav [class*=owl-]:hover {
  background: #869791;
  color: #fff;
  text-decoration: none
}
.owl-nav .disabled {
  opacity: .5;
  cursor: default
}
.owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  /* display: inline */
}
.owl-dots .owl-dot span {
  cursor: pointer;
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #869791;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  /* -ms-transition: opacity 200ms ease; */
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px
}
.owl-dots .owl-dot.active span,  .owl-dots .owl-dot:hover span {
  background: #ffffff;
}
.row.owl-carousel.owl-loaded{
	margin-left: 0px;
	margin-right:0px;
	margin-top: 40px;
}
.owl-carousel .owl-item img {
    width: 100%;
    margin:auto;
}

.owl-next{
	position: absolute;
	right: -2%;
	bottom: 50%;
	span{
		font-size: 50px;
	}
}
.owl-prev{
	position: absolute;
	left: -2%;
	bottom: 50%;
	span{
		font-size: 50px;
	}
}