@import "~bootstrap/scss/bootstrap";

// @import "fonts";
@import "variables";
@import "carousell";

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    color: white;
    background-color: $primary-blue;
    background-image: linear-gradient(to right, #1a1f60 , #132c93);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

section {
    padding: 60px 0;
    &.no-p-t {
        padding-top: 0;
    }
    &.no-p-b {
        padding-bottom: 0;
    }
}

.lightblue-bg {
    background-color: $secondary-blue;
    background-image: linear-gradient(to right, #252a66  , #1f3699);
}

.white-bg {
    background-color: #ffffff;
}

.mb-0 {
    margin-bottom: 0 !important;
}

/* Typograhy
-------------------------------------------------- */

h1 {
    font-size: 50px;
    line-height: 1;
}

h3 {
    font-size: 30px;
    line-height: 1;
}

p {
    font-size: 18px;
}

em {
    font-family: MyriadPro-LightIt;
    font-weight: 300i;
}

strong {
    font-weight: 400;
}

/* NAVBAR
-------------------------------------------------- */

.navbar {
    height: 50px;
    padding: 40px;
    border-bottom: 5px solid #fa9b00;
}

/* MASTHEAD
-------------------------------------------------- */

.masthead-image{
    display:block;
}
    
    .mobile-image{
        display:none;
    }
    .tablet-image{
        display:none;
    }
@media screen and (max-width: $screen-sm-max) {
    .masthead-image{
        display:none
    }
    .mobile-image{
        display:none;
    }
    .tablet-image{
        display:block;
    }container{}
}
@media screen and (max-width: $screen-xs-max) {
    .masthead-image{
        display:none
    }
    .mobile-image{
        display:block;
    }
    .tablet-image{
        display:none;
    }
    
}
.masthead-copy-container {
    width: 800px;
    margin: auto;
    max-width: 100%;
    .header-container {
        margin-bottom: 25px;
    }
    margin-top: 40px;
   

}

/* HOW TO PARTICIPATE
-------------------------------------------------- */

.participate {
    h3 {
        margin-bottom: 25px;
    }
    img {
        padding-bottom: 20px;
    }
    .cta-register{
        padding-top:30px;

        img{
            height: 45px;
            margin: auto;
            display: table;
            padding-bottom: 0px;
        }
    }
}


/* PAYING WITH YOUR CARD
-------------------------------------------------- */
.pay-with-your-card{
    img{
        width:190px;
    }
}
.steps-container {
    margin: 25px 0;
    img {
        margin-bottom: 20px;
    }
    .description {
        width: 750px;
        margin: auto;
        margin-top: 20px;
    }
}

#pay-carousel {
    .owl-item img {
        width: 300px;
    }
}

/* AVOID CARD CLASH
-------------------------------------------------- */

.avoid-card-clash {
    width: 750px;
    max-width: 100%;
    ul {
        list-style-position: inside;
        @media screen and (max-width: $screen-sm-max) {
            text-align: left;
            list-style-position: inherit;
        }
    }
}

/* FAQ
-------------------------------------------------- */
.faq {
    width: 750px;
    max-width: 100%;
    h3 {
        margin-bottom: 30px;
    }
    .panel-body{
        margin-left: 32px;
    }
    .faq-no{
        float: left;
        margin-bottom: 20px;
        display:table;
        font-weight: bold;
    }
    .accordion_head{
        margin-bottom: 20px;
        margin-left: 40px;
        width:89%;
        display: table;
        font-weight: bold;
        @media screen and (max-width: $screen-sm-max) {
            width: 88%;
        }

        .plusminus{
            float:right;
            font-weight: bold
        }
    }
    .qn-wrapper{
        width:100%;
    }
    .accordion_body{
        display:none;
        margin-left:44px;
        margin-bottom:30px;
        width: 88%;
        .img-wrapper{
            display: inline-block;
            margin-left: 0px;
            margin-bottom:20px;
            &.left{
                float: left;
                @media screen and (max-width: $screen-sm-max) {
                    float: none;
                }
            }
            &.right{
                float: right;
                @media screen and (max-width: $screen-sm-max) {
                    float: none;
                }
            }
             @media screen and (max-width: $screen-sm-max) {
                margin-left: 0px;
             }
        }
    }
    .cta-faq{
        padding-bottom: 20px;
        padding-top:40px;

        img{
            height: 45px;
            margin: auto;
            display: table;
        }
    }
    .cta-tnc{

        img{
            height: 45px;
            margin: auto;
            display: table;
            @media screen and (max-width: $screen-sm-max) {
                height: 39px;
            }
        }
    }
}

/* IN PARTNERSHIP WITH
-------------------------------------------------- */

.partnership-with{
    width: 750px;
    max-width: 100%;
    h3{
        color: #221f1f;
    }
    .img-container{
        margin-top: 50px;
        img{
            margin-right: 25px;
            width: 258px;
            @media screen and (max-width: $screen-sm-max) {
                margin-right: 0px;
            }
        }
    }
}

/* FOOTER
-------------------------------------------------- */
footer {
    padding: 30px 0 12px;
    background-color: $secondary-blue;
}
